<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Xin chào, đây là trang sample của EJS.
    <div>
        <img src="/images/webarebear.jpg" alt="">
    </div>
</body>
</html>